/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body, html {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100vh;
}

.container {
	display: flex;
}

.container > * {
	width: 100%;
}

.root-container {
	width: 1000px;
}

.standard-margin {
	margin: 16px;
}

.inner-margins > * {
	margin: 16px;
}

.flex-column {
	flex-direction: column
}

.flex-row {
	flex-direction: row
}

.flex-row-reverse {
	flex-direction: row-reverse
}

.flex-align-center {
	align-items: center
}

.flex-justify-center {
	justify-content: center;
}

.flex-item-right {
	align-self: flex-end;
}



