<mat-card *ngIf="issue">
	<mat-card-title-group color="primary">
		<mat-card-title id="issue-id" data-id="{{ issue?.id }}">ID: {{ issue?.id }}</mat-card-title>
		<mat-card-subtitle>{{ issue?.summary }}</mat-card-subtitle>
	</mat-card-title-group>
	<mat-card-content>
		<div class="flash"><strong>Description: </strong>{{ issue?.description }}</div>
		<div class=flash><strong>Status: </strong> {{ issue?.status }}</div>
		<div class=flash><strong>Assignee: </strong>{{ userToString(issue.assignee) }}</div>
		<div class=flash>
			<strong>Reporter: </strong>{{ userToString(issue.reporter) }}
		</div>
		<strong>Subscribers: </strong>
		<div class=flash>
			<div *ngFor="let subscriber of issue.subscribers">
				{{ userToString(subscriber) }}
			</div>
		</div>
	</mat-card-content>
	<mat-card-actions>
		<a mat-button color="primary" [routerLink]="editLink" routerLinkActive="active">EDIT</a>
	</mat-card-actions>
</mat-card>
